{% extends "AppTienda/base.html" %}

{% block contenido_base %}
{% load static %}

        <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'AppTienda/assets/img/register-bg.jpg'%}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>Tienda de Muñecos</h2>
                        <span class="subheading">Lugar de intercambio para coleccionistas</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">

            <h3>Pedidos</h3>
            <a href="{% url 'crear_pedido' %}"> Agregar pedido </a> 
            
            <br><br>
            
            <table class="tabla">
              <tbody>
                <tr>
                  <th>
                    <strong>Marca</strong>
                  </th>
                  <th>
                    <strong>Modelo</strong>
                  </th>
                  <th>
                    <strong>Contacto</strong>
                  </th>

                </tr>
                
                {% for pedido in pedidos %}
                <tr>
                  <td><p>{{pedido.modelo}}</p></td>
                  <td><p>{{pedido.marca}}</p></td>
                  <td><p>{{pedido.email}}</p></td>
                  <td><p><a href="{% url 'eliminar_pedido' pedido.id %}">Eliminar</a></p></td>

                </tr>
                {% endfor %}

                </p>
              </tbody>
            </table>
          
          </div>
      </div>
  </div>
</main>
{% endblock contenido_base %}
              