{% extends "AppTienda/base.html" %}

{% block contenido_base %}
{% load static %}


        <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'AppTienda/assets/img/home-bg.jpg'%}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h4>Acerca de mí</h4>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->

        
        <main class="mb-4">
            <div class="container px-4 px-lg-5 ">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <img src="{% static 'AppTienda\assets\img\profile.jpg' %}" class="rounded-circle mb-3" style="width: 150px;"
                        alt="Avatar" />
                      
                        <h4 class="mb-2"><strong>Kevin Alan Hughes </strong></h4>
                        <h5 class="text-muted">Lic. en Diseño Multimedia </h5>
                        <p>Mi nombre es Kevin y soy de Trelew, Pronvincia del Chubut, Argentina. Soy Licenciado en Diseño Multimedia graduado en la Universidad Nacional de La Plata.</p>
                        <p>Actualmente trabajo en la Secretaría de Ciencia y Cultura de la Provincia del Chubut en el área de comunicacón y divulgación. 
                        Mis principales tareas son la de filmación, edición, piloto de drone y motions graphics. </p>
                        <br>
                        <h3>Sobre el proyecto</h3>
                        <p><b>Tienda de Muñecos</b> es un foro de intercambio de objetos coleccionables. La idea es que gente que se dedique a la colección 
                        tenga un lugar exclusivo para comprar, vender o intercambiar</p>
                    </div>
                </div>
            </div>
        </main>

{% endblock contenido_base %}