{% extends "AppTienda/base.html" %}
{% block contenido_base %}
{% load static %}

  <!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'AppTienda/assets/img/header-bg.jpg'%}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Tienda de Muñecos</h2>
                    <span class="subheading">Lugar de intercambio para coleccionistas</span>
                </div>
            </div>
        </div>
    </div>
</header>   

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

        <h2>ÚLTIMAS PUBLICACIONES:</h2>
        
        </div>
    </div>
</div>


    {% for post in posts %}
    
       <!-- Post Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <hr>
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                        <h6><a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small></h6>
                        </div>
                        <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                        <p class="article-content">
                            {{ post.subtitle }}
                        </p>
                    </div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-detail' post.id %}">Leer más</a>
                </article>
                </div>
            </div>
        </div>
    </div>     


    {% empty %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br>
                <h4>No hay publicaciones aún!</h4>
                <br>
            </div>
        </div>
    </div>    

    {% endfor %}


{% endblock contenido_base %}