{% extends "AppTienda/base.html" %}
{% block contenido_base %}
{% load static %}

        <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'AppTienda/assets/img/home-bg.jpg'%}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>Tienda de Muñecos</h2>
                        <span class="subheading">Lugar de intercambio para coleccionistas</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    {% for post in posts %}
    
      <h2>{{ post.title }}</h2>
      
    {% endfor %}
    {{ posts.title }}

    <br>
    <h2> Prueba de que está funcionando esto</h2>
    <br>


{% endblock contenido_base %}